.card {
  position: relative;
  width: 600px;
  background-color: #fff; 
  border: 1px solid #ddd;
  border-radius: 8px; 
  padding: 20px; 
  margin: 15px 0; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; 
  font-family: 'Roboto', sans-serif;
}

.title {
  color: #333; 
  margin-bottom: 10px; 
  font-size: 1.5em; 
  margin-top: 0px;
}

.description {
  color: #666; 
  line-height: 1.6; 
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transform: translateY(-5px); 
}

.removeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #666; 
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px; 
  height: 20px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.removeButton:hover {
  background-color: #ff3333; 
}

/* Medium screens (Tablets) */
@media (max-width: 768px) {
  .card {
    width: 80%; /* Adjust width to be responsive */
    padding: 15px; /* Slightly reduce padding */
  }

  .title {
    font-size: 1.2em; /* Adjust title font size */
  }

  .description {
    font-size: 0.9em; /* Adjust description font size */
  }

  .removeButton {
    width: 18px; 
    height: 18px;
    font-size: 12px;
  }
}

/* Small screens (Mobile Phones) */
@media (max-width: 480px) {
  .card {
    width: 95%; /* Adjust width for mobile screens */
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .title {
    font-size: 1em; /* Further adjust title font size */
  }

  .description {
    font-size: 0.8em; /* Further adjust description font size */
  }

  .removeButton {
    top: 5px;
    right: 5px;
    width: 16px; 
    height: 16px;
    font-size: 10px;
  }
}